@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

body {
    background-color: #fdfbfb;
    margin: 0%;
    font-family: 'Kaisei Tokumin', serif;
    color: rgb(53, 53, 53);
    font-size: 16px;
    font-variant: normal;
    line-height: normal;
    padding: 0px;
    
}

#cabecalho {
    background-color: #036b52;
    border-bottom: 7px solid #2fc18c;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    display: flex;
    position: fixed;
    z-index: 10;
}

#titulo{
    color: white;
    margin-top: 25px;
    margin-left: 140px;
}

#nome {
    color: green;
    top: 600px;
    left: 190px;
    position: relative;
}

h1 {
    color: green;
}

#links > a:link, a:active {
    display: inline-block;
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 200px;
    border-radius: 60px;
}

#links > a:hover, a:active {
    background-color: #2fc18c;
}

#minha_foto {
    width: 25%;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: #00000059;
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
    position: absolute;
    
}

.licoes {
    border: green solid;
}

#licoes_aprendidas {
    display: inline-block;
    margin-left: 700px;
    margin-top: 130px;
    line-height: 30px;
}

#licoes_a_aprender {
    display: inline-block;
    padding-left: 15%;
    padding-top: 3%;
    line-height: 30px;
}

#rodape {
    text-align: inherit;
    height: 140px;
    background-color: #036b52;
    border-bottom: 10px solid #2fc18c;
    margin-top: 100px;
}

.trybe_link {
    position: static;
    float: left;
    margin: 30px;
    padding-left: 34px;
    box-sizing: border-box;
}

.lado-esquerdo {
    display: inline-block;
    background-color: #d3d3d359;
    width: 500px;
    padding: 50px;
    padding-top: 70px;
    margin-top: 150px;
    margin-left: 140px;
    border-radius: 30px;
}

.lado-direito {
    display: inline-block;
    background-color: #d3d3d359;
    width: 186px;
    padding: 50px;
    margin: 20px;
    margin-left: 150px;
    border-radius: 30px;
}

*{
    font-family: sans-serif;
    list-style: none;
    padding: 0px;
}

.minhaSkill {
    display: inline-block;
    width: 400px;
    margin: 60px auto;
    color: white;
    background: rgb(53, 53, 53);
    padding: 20px;
    margin-left: 140px;
}

.minhaSkill li {
    margin: 20px 0;
}

.bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.300);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background: #2187e7;
}

.unix {
    width: 90%;
    animation: 2s;
}

.git {
    width: 50%;
}

.github {
    width: 70%;
}

.empatia {
    width: 30%;
}

.html {
    width: 100%;
}
