body {
  background-color: white;
  font-family: sans-serif;
  color: darkgray;
  font-size: 16px;
  font-variant: normal;
  line-height: normal;
}

#cabecalho {
  background-color: rgb(3, 107, 82);
  border-bottom: 7px solid lightgreen;
  width: 100%;
  height: 100px;
  top: 0.1px;
  left: 0.1px;
  display: flex;
  position: fixed;
  z-index: 10;
}

#titulo {
  color: white;
  margin-top: 25px;
  margin-left: 140px;
}

#nome {
  color: green;
  top: 600px;
  left: 190px;
  position: relative;
}

h1 {
  color: green;
}

#links a:link , #links a:active {
  display: inline-block;
  background-color: white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 200px;
  border-radius: 60px;
}

#links a:hover , #links a:active {
  background-color: lightgreen;
}

#minha_foto {
  width: 25%;
  border-radius: 10%;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  position: absolute;
}

.licoes {
  border: lightgreen solid;
}

#licoes_aprendidas {
  display: inline-block;
  margin-left: 700px;
  margin-top: 130px;
  line-height: 30px;
}

#licoes_a_aprender {
  display: inline-block;
  padding-left: 15%;
  padding-top: 3%;
  line-height: 30px;
}

#rodape {
  text-align: inherit;
  height: 140px;
  background-color: green;
  border-bottom: 10px solid lightgreen;
  margin-top: 100px;
}

.trybe_link {
  position: static;
  float: left;
  margin: 30px;
  padding-left: 34px;
  box-sizing: border-box;
}

.lado-esquerdo {
  display: inline-block;
  background-color: darkgray;
  width: 500px;
  padding: 50px;
  padding-top: 70px;
  margin-top: 150px;
  margin-left: 140px;
  border-radius: 30px;
}

.lado-direito {
  display: inline-block;
  background-color: darkgray;
  width: 186px;
  padding: 50px;
  margin: 20px;
  margin-left: 150px;
  border-radius: 30px;
}

* {
  font-family: sans-serif;
  list-style: none;
  padding: 0.1px;
}

.minhaSkill {
  display: inline-block;
  width: 400px;
  margin: 60px auto;
  color: white;
  background: darkgray;
  padding: 20px;
  margin-left: 140px;
}

.minhaSkill li {
  margin: 20px 0;
}

.bar {
  background: lightsteelblue;
  display: block;
  height: 2px;
  border: 1px solid darkgray;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px lightskyblue;
}

.bar span {
  height: 2px;
  float: left;
  background: lightskyblue;
}

.unix {
  width: 90%;
  animation: 2s;
}

.git {
  width: 50%;
}

.github {
  width: 70%;
}

.empatia {
  width: 30%;
}

.html {
  width: 100%;
}
